@import url("/styles/header.css");
@import url("/styles/main.css");

:root {
    --cor-de-fundo: #FFFFFF;
    --primeira-cor-texto: #667085;
    --segunda-cor-texto: #101828;
    --terceira-cor-texto: #8E2424;
    --quarta-cor-texto: #FFFFFF;
    --fonte-principal: "inter";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}