.cabecalho {
    padding: 2% 6%;
}
.cabecalho--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho--menu--link {
    margin: 2em;
    font-weight: 500;
    text-decoration: none;
    color: var(--primeira-cor-texto);
}

.cabecalho--menu--botao {
    font-weight: 500;
    background-color: var(--terceira-cor-texto);
    color: var(--quarta-cor-texto);
    padding: 1em 1.5em;
    border-radius: 0.5em;
    text-decoration: none;
}