.sobre {
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sobre span {
    color: var(--cor-principal);
    font-weight: 600;
}

.sobre h1 {
    font-size: 2rem;
    color: var(--cor-do-titulo);
    text-align: center;
}

.sobre p {
    color: var(--cor-do-texto);
    max-width: 50%;
    text-align: center;
    line-height: 1.5rem;
}

.metricas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    padding: 0 8rem;
}

.metrica {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.metrica h1 {
    color: var(--cor-principal);
    font-size: 3.75rem;
    font-weight: 600;
}

.metrica .metrica__titulo {
    font-weight: 500;
    color: var(--cor-do-titulo);
    font-size: 1.125rem;
}

.metrica span {
    color: var(--cor-do-texto);
    line-height: 1.25rem;
}

.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    padding-top: 8rem;
    gap: 1rem;
}

.talentos h2 {
    text-align: center;
    color: var(--cor-do-titulo);
}

.talentos span {
    color: var(--cor-principal);
    background: rgba(142, 36, 36, 0.05);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.talentos p {
    text-align: center;
    color: var(--cor-do-texto);
}

.talentos img {
    margin-top: 2rem;
    width: 80%;
}
    
.vagas-abertas {
    padding-top: 4rem;
}

.vagas-abertas span.area {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--cor-do-titulo);
}

.vaga {
    border: 1px solid #EAECF0;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--cor-do-titulo);
}

.vaga span.vaga__titulo {
    font-weight: 500;
    margin-bottom: 1rem;
}

.vaga .informacoes {
    margin-top: 1rem;
    font-size: 90%;
    color: var(--cor-do-texto);
    display: flex;
    gap: 2rem;
}

.depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 8rem auto;
    background-color: rgba(195, 25, 25, 0.05);
    padding: 3rem 2rem;
}

.depoimento span {
    color: var(--cor-principal);
    font-weight: 500;
    text-align: center;
}

.depoimento img {
    width: 3rem;
}

.depoimento h2 {
    color: var(--cor-do-titulo);
    font-weight: 500;
    text-align: center;
    max-width: 70%;
    margin: 2rem 0;
}

.depoimento span.nome {
    color: var(--cor-do-titulo);
    margin: 0.5rem 0;
    font-weight: 400;
}

.depoimento span.cargo {
    color: var(--cor-do-texto);
    font-weight: 400;
}

@media screen and (max-width: 920px) {
    .metricas {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 850px) {
    .metricas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .metrica {
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .metrica span {
        max-width: 280px;
        text-align: center;
    }

    .sobre p {
        max-width: 70%;
    }

    .vaga {
        max-width: 70%;
    }
        
    .vagas-abertas span.area-principal {
        max-width: 70%;
    }

    .depoimento h2 {
        max-width: 100%;
        font-size: 120%;
    }
}