.conteudo-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0 6rem 0;
    gap: 1.5rem;
}

.conteudo-sobre-subtitulo {
    font-weight: 600;
    color: var(--terceira-cor-texto);
}

.conteudo-sobre-titulo {
    font-weight: 600;
    font-size: 3rem;
    color: var(--segunda-cor-texto);
}

.conteudo-sobre-paragrafo {
    font-size: 1.25rem;
    color: var(--primeira-cor-texto);
    max-width: 50%;
    line-height: 1.5rem;
    text-align: center;
}

.conteudo-metrica {
    display: flex;
    padding: 0 5em 6em;
    gap: 2em;
    justify-content: space-evenly;
}

.conteudo-metrica-item-numero {
    font-size: 3.75rem;
    font-weight: 600;
    color: var(--terceira-cor-texto);
}

.conteudo-metrica-item {
    padding: 0;
    max-width: 18%;
}

.conteudo-metrica-item-titulo {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--segunda-cor-texto);
    padding: 1em 0;
}

.conteudo-metrica-item-texto {
    line-height: 1.5rem;
}

.conteudo-vagas {
    text-align: center;
}

.conteudo-vagas-subtitulo {
    font-weight: 500;
    color: var(--terceira-cor-texto);
    background-color: var(--cor-de-fundo-texto);
    border-radius: 1rem;
    padding: 0.5rem;
}

.conteudo-vagas-talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-vagas-talentos-titulo {
    font-weight: 600;
    font-size: 2.25rem;
    color: var(--segunda-cor-texto);
    padding: 1.25rem;
}

.conteudo-sobre-paragrafo {
    font-size: 1.25rem;
}

.conteudo-vagas-talentos-imagem {
    max-width: 25rem 76rem;
    padding: 4rem 0;
}

.conteudo-vagas-abertas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 21rem;
    text-align: start;
}

.conteudo-vagas-area {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--segunda-cor-texto);
}

.conteudo-vagas-vaga {
    border: 1px solid var(--cor-borda-vaga);
    border-radius: 1rem;
    padding: 1.5rem 0 1.75rem 1.5rem;
}

.titulo-vaga {
    font-weight: 500;
    font-size: 1.125;
    color: var(--segunda-cor-texto);
}

.conteudo-vagas-vaga-informacoes {
    font-weight: 500;
    padding-top: 2rem;
}
    