.rodape {
    background-color: var(--cor-de-fundo-rodape);
    padding: 6rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.rodape__titulo {
    font-weight: 600;
    font-size: 2.25rem;
    color: var(--segunda-cor-texto);
}

.rodape__subtitulo {
    font-size: 1.25rem;
    margin: 1.25rem 0 1.25rem 0;
}

.formulario__campo {
    height: 3rem;
    width: 22.5rem;
    border: 1px solid var(--cor-copyright);
    box-shadow: 1px var(--cor-copyright);
    border-radius: 0.5rem;
    padding: 0 0 0 1rem;
    margin: 1.25rem 0 1.25rem 0;
}

.formulario__botao {
    height: 3rem;
    width: 7.25rem;
    color: var(--quarta-cor-texto);
    font-weight: 500;
    background-color: var(--terceira-cor-texto);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.rodape__copyright {
    color: var(--cor-copyright);
}